include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
recursive-include tidyxl *.py
recursive-include tests *.py
recursive-include examples *.py
exclude examples/*.xlsx
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store